# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project-specific AI Models (Do not check into GitHub)
public/models/*.tgz.bin
public/models/*.tar.gz
public/models/*.onnx
public/models/*.txt
public/models/*.json
public/models/piper-en/

blog-post.md
social-media.md
